/* display:flex + flex-wrap:wrap - используем потомучто нужно будет смещать их в адаптации, а это упращает */

body {
   margin: 0;

   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   color: #111;
   background-color: #e9f3fc;

   -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

hr {
   height: 1px;
   border: 0;
   background-color: #111;
}

.container {
   width: 100%;
   max-width: 1170px;
   margin: 0 auto; /* сверху и снизу 0, а слева и справо auto(по центру) */
}

/*--- header ---*/
.header {
   padding: 35px 10px;
   height: 100px;

   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
}

.header__align {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   font-size: 20px;
   letter-spacing: 1px;
   cursor: pointer;
}

.header--fixed {
   height: 50px;
   padding: 15px 0;
   position: fixed;

   background-color: #111;
   color: #e9f3fc;
}

/*--- nav ---*/
.nav {
   display: flex;

   font-weight: 700;
}

.nav__link:first-child {
   margin-left: 0;
}
.nav__link {
   margin-left: 50px;

   color: #111;
   text-decoration: none;
   text-transform: uppercase;
   transition: color 0.2s linear;
}

.nav__link:hover {
   color: #e9f3fc;
}

.nav--fixed .nav__link {
   color: #e9f3fc;
}

.burger {
   display: none;
}

.burger__item {
   display: block;
   width: 30px;
   height: 2px;
   position: relative;
   
   background-color: #111;

   font-size: 0;
   color: transparent;
}

.burger__item::before, 
.burger__item::after {
   content: "";
   width: 30px;
   height: 2px;
   position: absolute;
   left: 0;
   z-index: 1;

   background-color: #111;
}
.burger__item::before {
   top: -8px;
}
.burger__item::after {
   bottom: -8px;
}

.header--fixed .burger__item {
   background-color: #e9f3fc;
}
.header--fixed .burger__item::before {
   background-color: #e9f3fc;
}
.header--fixed .burger__item::after  {
   background-color: #e9f3fc;
}

/*--- intro ---*/
.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;

   height: 100vh;
   padding-top: 100px;

   background: linear-gradient(to bottom right, #ff6363, #ada0ff);
}

.intro__align {
   width: 100%;
   max-width: 1000px;

   margin: 0 auto;

   text-align: center;
}

.intro__title {
   margin-bottom: 30px;

   font-size: 65px;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 1.1;
}

.intro__suptitle {
   margin-bottom: 60px;

   font-size: 22px;
}

/*-- button --*/
.btn {
   display: inline-block;
   vertical-align: top;

   padding: 14px 40px;

   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   border-radius: 5px;
}

.btn--black {
   background-color: #111;
   color: #e9f3fc;
   transition: background-color 0.1s linear;
}

.btn--black:hover {
   background-color: #e9f3fc;
   color: #111;
}

.btn--download {
   min-width: 250px;
   border: 1px solid #111;
}

.btn--download:hover {
   border: 1px solid #111;
}

/*-- features --*/
.features {
   display: flex;
   margin: 120px 0;

   flex-wrap: wrap;
}

.features__item {
   width: 33.333%;
   padding: 0 30px;
   margin: 30px 0;

   text-align: center;
}

.features__icon {
   width: 25%;
}

.features__title {
   margin: 25px 0;
   font-weight: 700;
}

.features__text {
   font-size: 13px;
}

/*-- cards --*/
.cards {
   display: flex;
   flex-wrap: wrap;
}

.cards__item {
   width: 25%;
   height: 350px;
   position: relative;
   overflow: hidden;
}

.cards__item:hover .cards__content {
   opacity: 1;
   cursor: pointer;
}

.cards__image {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 1;

   transform: translate3d(-50%, -50%, 0);
}

.cards__content {
   display: flex;
   flex-direction: column;
   justify-content: center;

   width: 100%;
   height: 100%;

   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;

   background: linear-gradient(to bottom right, #ff6363bb, #ada0ffbb);
   text-align: center;
   opacity: 0;
   transition: opacity 0.2s linear;
}

.cards__title {
   margin-bottom: 10px;

   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   color: #e9f3fc;
}

.cards__text {
   color: #e9f3fc;
}

/*-- textfield --*/
.textfield {
   display: flex;
   flex-direction: column;
   justify-content: center;

   height: 50vh;
}

.textfield__text {
   font-size: 50px;
   letter-spacing: 5px;
   text-align: center;
}

/* download */
.download {
   margin: 90px 0;

   text-align: center;
}

.download__title {
   margin-bottom: 10px;

   font-size: 28px;
   font-weight: 700;
}

.download__text {
   margin-bottom: 30px;

   font-weight: 700;
}

/*-- footer --*/
.footer {
   background-color: #111;
   color: #e9f3fc;
}

.footer__align {
   display: flex;
   flex-wrap: wrap;

   padding: 70px 0;
}

.footer__block {
   width: 33.333%;
   padding: 0 15px;

   text-align: center;
}

.footer__title {
   margin-bottom: 10px;

   font-weight: 700;
   text-transform: uppercase;
}

/* copyright */
.copyright {
   padding: 20px 0;

   background-color: rgb(22, 22, 22);
}

.copyright__text {
   text-align: center;
   font-size: 11px;
   color: #808080;
}

.copyright__text span {
   color: #fff;
}

/* splide */
.splide__slide img {
	width : 100%;
   height: auto;
}